body {
    background-color: grey;
}

#main {
    background-color: white;
    width: 640px;
    height: 640px;
    position: relative;
}

div > div {
    height: 200px;
    width: 200px;
    position: absolute;
}

div > div > div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
}

#one {
    background-color: #FFAAD2;
    top: 10px;
    left: 10px;
}

#dot-one {
    background-color: #C87BE8;
}

#two {
    background-color: #C8ABE8;
    top: 220px;
    left: 10px;
}

#dot-two {
    background-color: #FFAAD2;
}

#three {
    background-color: #86ABFF;
    top: 430px;
    left: 10px;
}

#dot-three {
    background-color: #86E8E0;
}

#four {
    background-color: #86E8E0;
    top: 10px;
    left: 220px;
}

#dot-four {
    background-color: #8677FF;
}

#five {
    background-color: #4DE8E0;
    top: 220px;
    left: 220px;
}

#dot-five {
    background-color: #FF7ED2;
}

#six {
    background-color: #ACFF5E;
    top: 430px;
    left: 220px;
}

#dot-six {
    background-color: #C8ABE8;
}

#seven {
    background-color: #FF7ED2;
    top: 10px;
    left: 430px;
}

#dot-seven {
    background-color: #ACFF5E;
}

#eight {
    background-color: #C87BE8;
    top: 220px;
    left: 430px;
}

#dot-eight {
    background-color: #ACFFB3;
}

#nine {
    background-color: #8677FF;
    top: 430px;
    left: 430px;
}

#dot-nine {
    background-color: #86E8E0;
}

