body {
    background-color: #BEEB9F;
}

form {
    background-color: #00A388;
    color: #fff;
    padding: 20px;
    width: 300px;
    height: 800px;
    position: absolute;
    top: 50px;
    left: 80px;
}

label {
    display: block;
}

form input[type="text"], 
form input[type="mail"], 
form input[type="phone"],
form select {
    border: none;
    width: 300px;
    height: 30px;
    margin: 10px 0;
}

form textarea {
    width: 300px;
    height: 200px;
    margin: 10px 0;
}

label[for="male"],
label[for="female"],
label[for="agreement"] {
    display: inline;
    padding: 10px;
    margin: 10px 0;
}
