body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-flow: wrap;
    text-align: center;
    height: 600px;
    text-transform: uppercase;
    color: white;
    font-size: 1.3em;
}

.header {
    background-color: red;
    flex: 1 100%;
    order: 1;
}

.aside-left {
    background-color: green;
    order: 2;
    flex: 1 25%;
}

.article {
    background-color: skyblue;
    order: 3;
    flex:1 50%;
}

.aside-right {
    background-color: pink;
    order: 4;
    flex: 1 25%;
}

.footer {
    background-color: blueviolet;
    order: 5;
    flex: 1 100%;
}

@media (max-width: 768px) {
    .aside-left {
        order: 3;
        flex: 1 100%;
    }
    .article {
        order: 2;
        flex: 1 100%;
    }
}


@media (min-width: 768px) and (max-width: 992px) {
        .aside-right {
        order: 3;
        flex: 1 25%;
    }
    .article {
        order: 2;
        flex: 1 75%;
    }
    .aside-left {
        order: 4;
}
}