html,
body {
    height: 100%;
    font-family: verdana;
}

body {
    background: url(../obrazy/man-1.jpg) no-repeat;
    background-size: 100%;
    box-sizing: border-box;
}

.fullpage {
    display: flex;
    height: 100%;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
    line-height: 200%;
    font-weight: 600;
}

span {
    font-size: 1.5em;
}

@media (min-width: 993px) and (max-width: 1170px) {
    body {
        background: url(../obrazy/man-2.jpg) no-repeat;
        background-size: 100vw 70vh;
    }

    .fullpage {
        align-items: baseline;
        justify-content: flex-end;
    }
}

@media (max-width: 992px) {
    body {
        background: url(../obrazy/man-1.jpg) no-repeat;
        background-size: 100vw 50vh;
    }

    .fullpage {
        color: black;
        margin-top: 50px;
        text-align: center;
        justify-content: center;
    }

}